<p>In Rails there are a number of ways we can work with Javascript & Ajax to create that SPA feeling. Two examples are shown below, both use the same model data.</p>
<%= link_to 'Things rendered with .js.erb views', things_path, class: "waves-effect waves-light btn" %>
<%= link_to 'Stuff rendered with Javascript', stuffs_path, class: "waves-effect waves-light btn" %>
